<!-- Featured Contributor -->
<section id="featured-contributor" class="card" th:fragment="contributor">
  <header class="card-header">
    <p class="card-header-title subtle is-6 uppercase">
      Featured Contributor
    </p>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/76.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <small class="muted">Java Evangelist</small>
        <div class="is-5">Jane Doe</div>
        <time class="subtitle is-7 muted" datetime="2016-1-1"
          >Member since Jan 17, 2016</time
        >
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <div align="center">
        <span class="title is-5">12</span>
        <br />
        <span class="subtitle is-6">Solutions</span>
      </div>
    </div>
    <div class="card-footer-item">
      <div align="center">
        <span class="title is-5">324</span>
        <br />
        <span class="subtitle is-6">Upvote</span>
      </div>
    </div>
    <div class="card-footer-item">
      <div align="center">
        <span class="title is-5">538</span>
        <br />
        <span class="subtitle is-6">Posts</span>
      </div>
    </div>
  </footer>
</section>
<!-- EOF Featured Contributor -->
