<!-- Your Q&A -->
<section id="qa" th:fragment="qa">
  <h3 class="title is-4 is-spaced">Your Question &amp; Answer</h3>

  <article class="media box solved">
    <figure class="media-left">
      <i class="fa fa-code"></i>
    </figure>
    <div class="media-content">
      <div class="content">
        <h5 class="title is-5">Claim your expertise now!</h5>
        <p class="subtitle is-7">
          Published under
          <strong>Employee</strong>, <strong>CRM</strong>,
        </p>
        <ul class="metas">
          <li><i class="icons icon-eye"></i> 200</li>
          <li><i class="icons icon-bubbles"></i> 10</li>
          <li><i class="icons icon-star"></i> 1</li>
          <li><span class="tag is-success">Answered</span></li>
        </ul>
      </div>
    </div>
  </article>
  <article class="media box solved">
    <figure class="media-left">
      <i class="fa fa-hospital"></i>
    </figure>
    <div class="media-content">
      <div class="content">
        <h5 class="title is-5">How to do Medical Reimbursement</h5>
        <p class="subtitle is-7">
          Published under
          <strong>Employee</strong>, <strong>Benefit</strong>,
          <strong>Medical</strong>
          <strong>HR</strong>
        </p>
        <ul class="metas">
          <li><i class="icons icon-eye"></i> 234</li>
          <li><i class="icons icon-bubbles"></i> 19</li>
          <li><i class="icons icon-star"></i> 20</li>
          <li><span class="tag is-success">Answered</span></li>
          <li><span class="tag is-link">Trusted</span></li>
        </ul>
      </div>
    </div>
  </article>
  <article class="media box">
    <figure class="media-left">
      <i class="fa fa-code"></i>
    </figure>
    <div class="media-content">
      <div class="content">
        <h5 class="title is-5">Innovathon Challenge 2019</h5>
        <p class="subtitle is-7">
          Published under
          <strong>Employee</strong>, <strong>Innovathon</strong>,
          <strong>Software Engineer</strong>
        </p>
        <ul class="metas">
          <li><i class="icons icon-eye"></i> 199</li>
          <li><i class="icons icon-bubbles"></i> 11</li>
          <li><i class="icons icon-star"></i> 10</li>
        </ul>
      </div>
    </div>
  </article>
</section>
<!-- EOF Your Q&A -->
