<!-- QA Threads -->
<section id="qa-threads" class="panel" th:fragment="qathreads">
  <div class="panel-tabs tabs is-toggle is-fullwidth" data-target="#qa-threads">
    <ul>
      <li class="is-active"><a href="recent">Recent Threads</a></li>
      <li><a href="answered">Answered</a></li>
      <li><a href="unanswered">Unanswered</a></li>
    </ul>
  </div>
  <div class="panel-block filter p2em" data-filter="recent">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/68.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h5 class="title is-5">How to do Medical Reimbursement</h5>
          <p class="subtitle is-7">
            Published under
            <strong>Employee</strong>, <strong>Benefit</strong>,
            <strong>Medical</strong>
            <strong>HR</strong>
          </p>
          <ul class="metas">
            <li><i class="icons icon-eye"></i> 234</li>
            <li><i class="icons icon-bubbles"></i> 19</li>
            <li><i class="icons icon-star"></i> 20</li>
            <li><span class="tag is-success">Answered</span></li>
            <li><span class="tag is-link">Trusted</span></li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block filter p2em" data-filter="recent">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/44.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h5 class="title is-5">Claim your expertise now!</h5>
          <p class="subtitle is-7">
            Published under
            <strong>Employee</strong>, <strong>Benefit</strong>,
            <strong>Medical</strong>
            <strong>HR</strong>
          </p>
          <ul class="metas">
            <li><i class="icons icon-eye"></i> 200</li>
            <li><i class="icons icon-bubbles"></i> 10</li>
            <li><i class="icons icon-star"></i> 1</li>
            <li><span class="tag is-success">Answered</span></li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block filter p2em" data-filter="recent">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/75.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h5 class="title is-5">Claim your expertise now!</h5>
          <p class="subtitle is-7">
            Published under
            <strong>Employee</strong>, <strong>Benefit</strong>,
            <strong>Medical</strong>
            <strong>HR</strong>
          </p>
          <ul class="metas">
            <li><i class="icons icon-eye"></i> 200</li>
            <li><i class="icons icon-bubbles"></i> 10</li>
            <li><i class="icons icon-star"></i> 1</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block filter p2em" data-filter="answered">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/67.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h5 class="title is-5">How to do Optical Reimbursement</h5>
          <p class="subtitle is-7">
            Published under
            <strong>Employee</strong>, <strong>Benefit</strong>,
            <strong>Medical</strong>
            <strong>HR</strong>
          </p>
          <ul class="metas">
            <li><i class="icons icon-eye"></i> 234</li>
            <li><i class="icons icon-bubbles"></i> 19</li>
            <li><i class="icons icon-star"></i> 20</li>
            <li><span class="tag is-success">Answered</span></li>
            <li><span class="tag is-link">Trusted</span></li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block filter p2em" data-filter="answered">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/44.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h5 class="title is-5">Claim your expertise now!</h5>
          <p class="subtitle is-7">
            Published under
            <strong>Employee</strong>, <strong>Benefit</strong>,
            <strong>Medical</strong>
            <strong>HR</strong>
          </p>
          <ul class="metas">
            <li><i class="icons icon-eye"></i> 200</li>
            <li><i class="icons icon-bubbles"></i> 10</li>
            <li><i class="icons icon-star"></i> 1</li>
            <li><span class="tag is-success">Answered</span></li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block filter p2em" data-filter="answered">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/75.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h5 class="title is-5">Claim your expertise now!</h5>
          <p class="subtitle is-7">
            Published under
            <strong>Employee</strong>, <strong>Benefit</strong>,
            <strong>Medical</strong>
            <strong>HR</strong>
          </p>
          <ul class="metas">
            <li><i class="icons icon-eye"></i> 200</li>
            <li><i class="icons icon-bubbles"></i> 10</li>
            <li><i class="icons icon-star"></i> 1</li>
            <li><span class="tag is-success">Answered</span></li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block filter p2em" data-filter="unanswered">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/69.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h5 class="title is-5">How to do Mastering QA skills</h5>
          <p class="subtitle is-7">
            Published under
            <strong>Employee</strong>,
            <strong>CRM</strong>
          </p>
          <ul class="metas">
            <li><i class="icons icon-eye"></i> 234</li>
            <li><i class="icons icon-bubbles"></i> 19</li>
            <li><i class="icons icon-star"></i> 20</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block filter p2em" data-filter="unanswered">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/44.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h5 class="title is-5">Claim your expertise now!</h5>
          <p class="subtitle is-7">
            Published under
            <strong>Employee</strong>, <strong>Benefit</strong>,
            <strong>Medical</strong>
            <strong>HR</strong>
          </p>
          <ul class="metas">
            <li><i class="icons icon-eye"></i> 200</li>
            <li><i class="icons icon-bubbles"></i> 10</li>
            <li><i class="icons icon-star"></i> 1</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block filter p2em" data-filter="unanswered">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            class="is-rounded"
            src="https://randomuser.me/api/portraits/women/75.jpg"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h5 class="title is-5">Claim your expertise now!</h5>
          <p class="subtitle is-7">
            Published under
            <strong>Employee</strong>, <strong>Benefit</strong>,
            <strong>Medical</strong>
            <strong>HR</strong>
          </p>
          <ul class="metas">
            <li><i class="icons icon-eye"></i> 200</li>
            <li><i class="icons icon-bubbles"></i> 10</li>
            <li><i class="icons icon-star"></i> 1</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block p-0">
    <a href="#" class="button p-1 br-0 auto-height is-success is-fullwidth"
      >Load more</a
    >
  </div>
</section>
<!-- EOF QA Threads -->
